package layouts

import "github.com/parkerjohnson/intercede/web/templates/components"

templ Base(title string) {
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{ title }</title>
  <link rel="stylesheet" href="/static/css/tailwind.css" />
  <link rel="stylesheet" href="/static/css/input.css" />
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/modal.js"></script>
  <script src="/static/js/request.js"></script>
</head>

<body style="background-color: #F5F5DC;">
  <div id="mainContent" class="flex flex-col items-center min-h-screen w-full py-16">
    <div class="flex-1"></div>
    <div  class="w-full flex flex-col items-center space-y-10">
      { children... }
    </div>
    <div class="flex-1"></div>
    <button id="openChurchModalBtn" class="flex items-center px-2 py-1 hover:opacity-80 transition-opacity"
      style="color: #4D4D40; margin-top: 10px">
      <span class="text-xl" id="lastChurchCode"></span>
      <svg class="w-6 h-6" style="color: #808073;" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
    <div class="flex-1"></div>
  </div>
  @components.ChurchCode()
</body>

</html>
}
